/* Body Styles */
body {
  background-color: lemonchiffon;
}

/* Heading Styles */
h1, h2, h3 {
    text-align: left;
}

h1 {
    background-color: lemonchiffon
    color: darkblue
}

h2 {
    background-color: lemonchiffon
    color: darkblue
}

h3 {
    background-color: lemonchiffon
    color: darkblue
}

/* Paragraph Styles */
p {
    background-color: lemonchiffon
    color: #000000; /* Black text color for paragraphs */
    text-align: left;
    line-height: 1.6;
}

/* Link Styles */
a {
    color: #ff9100;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #800080; /* Purple color for visited links */
}
